* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary--color: #6c63ff;
    --secondary--color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.3); 
}

.container {
    text-align: center;
    margin-top: 60px;
    /* font-size: 32px; */
}

.portfolio__links {
    background-color: #f5f2fe;
    padding: 20px;
    margin-bottom: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.my--links {
    margin-right: 30px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.links {
    opacity: 0.7;
}

.links:hover{
    opacity: 0.9;
}

.portfolio__intro {
    font-size: 48px;
}

.portfolio__name {
    margin-bottom: 30px;
    font-size: 96px;
}

.portfolio__description {
    margin-top: 30px;
    font-size: 24px;
    opacity: 0.9;
}

.portfolio__contact {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.contact--button {
    color: white;
    border: 1px solid  #6c63ff ;
    border-radius: 5px;
    padding: 20px;
    background: var(--primary--color);
    box-shadow: var(--box-shadow);
}

.about--button {
    padding: 20px;
    border: 1px solid  #6c63ff;
    border-radius: 5px;
    background: white;
    color: #6c63ff;
}

.image--container {
    padding: 20px;
}

.image--wrapper {
    /* display: flex; */
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.image--direction {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image {
    flex: 0 0 auto;
    width: 40%;
    background-color: #f5f2fe;
    padding: 20px;
}

.my--image {
    /* width: 50%;
    flex: 0 0 auto; */
    max-width: 400px;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.3);
}

.text--wrapper {
    width: 50%;
    flex: 0 0 auto;
    /* text-align: center; */
    padding: 10px;
    margin: 0;
}

.apple--text {
    font-size: 48px;
    margin: 0;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    /* text-align: center; */
    
}

.link {
    font-size: 18px;
    padding: 20px;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    background-color: #6c63ff;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .portfolio__contact {
        display: block;
        margin-top: 30px;
    }

    .portfolio__wrapper {
        /* font-size: small;  */
        text-align: center;
        /* padding-left: 30px; */
    }

    /* .portfolio__name {
        font-size: medium;
    } */

    .text--wrapper {
        width: 100%;
        display: block;
        text-align: center; 
        /* padding-left: 35px; */
        margin-left: 35px; 
    }

    .image--direction {
        display: block;
        margin-top: 20px;
    }
    
    .image {
        width: 40%;
        background-color: #f5f2fe;
        padding: 20px;
    }
  }